<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(function () {
            $('#datetimepicker1').datepicker({
	       multidate:true,
            });
        });
    </script>
</head>
<body>
    <!-- Trigger the modal with a button -->

    <!-- Modal -->
    	<p>want to check the dates.</p>
	<p>want to check the dates.</p>
	<p>want to check the dates.</p>
	<p>want to check the dates.</p>
	<p>want to check the dates.</p>
	<p>want to check the dates.</p>
	<p>want to check the dates.</p>
	<p>want to check the dates.</p>
	<p>want to check the dates.</p>
    <h4 class="modal-title">Calendar in Modal Popup</h4>
    <div class="input-append date">
        <input id="datetimepicker1" data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
        <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
    </div>
</body>
</html>